/*footer*/
.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 4rem;
    margin-top: auto;
    background-color: #272121;
}
.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.footer__social span {
    color: white;
}
.footer__social--icon a img {
    width: 40px;
}
.footer__social--icon a img:hover {
    opacity: 0.5;
}
.enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
}
.enlaces a {
    color: white;
    margin-left: 10%;
    text-decoration: none;
}
.enlaces a:hover {
    text-decoration: underline;
}