* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
/*header y menu de navegacion*/
.header {
    background: #272121;
    height: 3rem;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.header__nav ul {
    display: flex;
    list-style: none;
}
.header__nav ul li {
    margin-right: 15px;
}
.header__nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.header__nav ul li a:hover {
    text-decoration: underline;
}
.header__nav ul li a img {
    width: 25px;
    margin-right: 5px;
}
.header__nav--inactive {
    opacity: 0.5;
}
.header__nav--inactive:hover {
    opacity: 1;
}