* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.header {
    background: #272121;
    height: 3rem;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.header__nav ul {
    display: flex;
    list-style: none;
}
.header__nav ul li {
    margin-right: 15px;
}
.header__nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.header__nav ul li a:hover {
    text-decoration: underline;
}
.header__nav ul li a img {
    width: 25px;
    margin-right: 5px;
}
.header__nav--inactive {
    opacity: 0.5;
}
.header__nav--inactive:hover {
    opacity: 1;
}
.content {
    display: flex;
    flex-direction: column;
}
.content__carrusel {
    background: yellow;
}
.content__buscador {
    background: green;
}
.content__categorias {
    background: indigo;
}
.footer {
    background: blue;
    height: 6rem;
    margin-top: auto;
}
/*carrusel*/
.content__carrusel {
    display: flex;
    justify-content: center;
}
.content__carrusel--contenedor {
    position: relative;
    width: 700px;
    height: 300px;
    background-color: black;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

.imagen img {
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.texto {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 85%;
    color: white;
    font-weight: bold;
}

.content__carrusel--contenedor a{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 36px;
    top : 50%;
    transform: translateY(-50%);
}
.siguiente {
    left: 97%;
}
.puntos {
    position: absolute;
    top: 93%;
    width: 100%;
    text-align: center;
}
.punto {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}
.punto:hover {
    cursor: pointer;
    background-color: gray;
}
.content__carrusel--contenedor a:hover {
    color: gray;
}

.actual {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}
.activo {
    background-color: gray;
}