* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
/*header y menu de navegacion*/
.header {
    background: #272121;
    height: 3rem;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.header__nav ul {
    display: flex;
    list-style: none;
}
.header__nav ul li {
    margin-right: 15px;
}
.header__nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.header__nav ul li a:hover {
    text-decoration: underline;
}
.header__nav ul li a img {
    width: 25px;
    margin-right: 5px;
}
.header__nav--inactive {
    opacity: 0.5;
}
.header__nav--inactive:hover {
    opacity: 1;
}
/*carrusel*/
.content {
    display: flex;
    flex-direction: column;
}
.content__carrusel {
    display: flex;
    justify-content: center;
}
.content__carrusel--contenedor {
    position: relative;
    width: 853px;
    height: 480px;
    background-color: black;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

.imagen img {
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.texto {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 85%;
    color: white;
    font-weight: bold;
}

.content__carrusel--contenedor a{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 36px;
    top : 50%;
    transform: translateY(-50%);
}
.siguiente {
    left: 97%;
}
.puntos {
    position: absolute;
    top: 93%;
    width: 100%;
    text-align: center;
}
.punto {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}
.punto:hover {
    cursor: pointer;
    background-color: gray;
}
.content__carrusel--contenedor a:hover {
    color: gray;
}

.actual {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}
.activo {
    background-color: gray;
}
/*Buscador*/
.content__buscador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content__buscador h2 {
    color: #272121;
}
.content__buscador--input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.input--buscar {
    width: 50%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #272121;
    box-sizing: border-box;
    padding-left: 15px;
}
.input--buscar:focus {
   border: 2px solid #ff0000;
}
/*categorias*/
.categorias {
    background-color: #272121;
    margin: 10px 10px 20px 10px;
    border-radius: 10px;
    padding-bottom: 15px;
}
.categorias h2 {
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}
.categorias__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 10px;
    justify-content: center;
}
.categorias__item {
    border-radius: 10px;
    padding: 5px;
    background: white;
}
.categorias__item:hover {
    opacity: 0.5;
}
.categorias__item a {
    text-align: justify;
    text-decoration: none;
    color: #272121;
    font-size: 18px;
}
.categorias__item img {
    max-width: 100%;
    border-radius: 10px;
}
/*footer*/
.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 4rem;
    margin-top: auto;
    background-color: #272121;
}
.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.footer__social span {
    color: white;
}
.footer__social--icon a img {
    width: 40px;
}
.footer__social--icon a img:hover {
    opacity: 0.5;
}
.enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
}
.enlaces a {
    color: white;
    margin-left: 10%;
    text-decoration: none;
}
.enlaces a:hover {
    text-decoration: underline;
}